#gjs {
  border: none;
}
/* Theming */

/* Primary color for the background */
.gjs-one-bg {
  background-color: rgb(98, 144, 147, 1);
  color: black;
}

/* Secondary color for the text color */
.gjs-two-color {
  color: black;
}
/* Tertiary color for the background */
.gjs-three-bg {
  background-color: rgb(98, 144, 147, 1);
  color: yellow;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: white;
}
